* {
	box-sizing: border-box;
}

/*colors yellow text f3f370 */
body {
	padding: 0;
	margin: 0;
	font-family: verdanna, 'Arial', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #f3f370;
	background-size: contain;
	background-repeat: repeat;
	background-color: #9bbbf2;
	/* other blues, darker 7ca8f4 lighter 9bbbf2*/
}

/*colors yellow text f3f370 - change h1 text if snow option is on */
h1 {
	text-align: center;
	font-size: 2.8rem;
	line-height: 2.5rem;
	color: rebeccapurple;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.2rem;
		margin: 10px 0;
	}
}
@media screen and (max-width: 450px) {
	h1 {
		font-size: 1.8rem;
		margin: 10px 0;
	}
}

h2 {
	text-align: center;
	/*font-weight: 600;*/
	font-size: 2.2rem;
}

p {
	text-align: center;
}

button {
	padding: 20px 60px;
	margin: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: #f2f28c;
	border-radius: 	20px;
}

.button_container {
	width: auto;
	margin: 10px;
	display: flex;
	position: relative;
	/*justify-content: center;*/
	/*border: 1px dashed red;*/
	text-align: center;
	padding: 10px;
	/*flex-basis: sp*/
	justify-content: space-evenly;

}
.button_container_snow {
	/*width: 300px;*/
	border: 2px solid black;
	padding: 20px;
	margin: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: white;
	border-radius: 	20px;
	color: black;
}

@media screen and (max-width: 500px) {
	button {
		padding: 10px;
		font-size: 1rem;
	}
	.button_container_snow {
		padding: 10px;
		font-size: 1rem;
	}
}
@media screen and (max-width: 400px) {
	button {
		padding: 5px 10px;
	}
	.button_container_snow {
		padding: 5px;
	}
}

/* yellow light f2f28c */

.quote {
	/*original size 3rem with line height 3.6 rem*/
	font-size: 2.6rem;
	line-height: 3.2rem;
	font-style: italic;
	/*margin: 0 20px 0 10px;*/
	/* need to shift text to left as its italic so appears closer to right edge of parent */
	margin: 0 6px 0 4px;
	/*overflowing atm, coudl try hidden optino or add MQ! */
}

/*when width is UNDER 550 ie max=under, and min=over */
@media screen and (max-width: 1000px) {
	.quote {
		font-size: 2.4rem;
		line-height: 3rem;
	}
}
@media screen and (max-width: 850px) {
	.quote {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}
@media screen and (max-width: 550px) {
	.quote {
		font-size: 1.4rem;
		line-height: 2rem;
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	.quote {
		font-size: 1.2rem;
	}
}

.font_courgette {
	font-family: 'Courgette';
	font-size: 3.5rem;
}

.font_merienda {
	font-family: 'Merienda One';
}

.font_oleo {
	font-family: 'Oleo Script';
	font-size: 3.5rem;
	letter-spacing: 
}

div {
	/*border: 1px dashed green;*/
}

/* need to center containner within body!*/
.container {
	width: auto;
	margin: 10px;
	display: flex;
	position: relative;
	justify-content: center;
	/*border: 1px dashed red;*/
	text-align: center;
	padding: 10px;
	/*height: 500px;*/
}
@media screen and (max-width: 700px) {
	.container {
		margin: 0;
		padding: 0;
	}
}

.main {
	text-align: center;
}

.frame_inner {
	/* cant restrict text too much */
	/*width: 40%;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

@media screen and (max-width: 700px) {
	.child {
		width: 45%;
	}
}
@media screen and (max-width: 550px) {
	.frame_inner {
		height: 350px;
	}
}
@media screen and (max-width: 550px) {
	.frame_inner {
		height: 300px;
	}
}

.footer {
	text-align: center;
	font-size: 1rem;
	color: rebeccapurple;
	margin-top: 20px;
	margin-bottom: 10px;
}
@media screen and (max-width: 450px) {
	.footer {
		font-size: 0.8rem;
		margin-top: 10px;
	}
}
.pic_container {
	display: flex;
  	justify-content: center;
  	padding: 10px 0;
  	/*height: 400px;*/
  	align-items: center;
}

.picture {
	width: 100%;
    /*keyword Contain makes it fit within its parent while keeping proportions*/
    object-fit: contain;
    padding: 10px;
    max-height: 450px;
}
@media screen and (max-width: 700px) {
	.picture {
		width: 100%;
		padding: 0;
	}
}

.rotate180 {
	transform: rotate(90deg);
}


/* example https://codepen.io/dudleystorey/pen/yyZpeX */

/* When four positions are specified, they create slices measured from the top, right, bottom, and left in that order (clockwise). 
Re-check this after combinging w MQ branch
*/
.frame {
  border-image: url(images/OrnatePictureFramePlain.svg) 390 340 387 342 stretch stretch; 
  border-color: #f4be52;
  /*inset outset ridge solid */
  border-style: outset;
  border-width: 50px;
  display: block;
  /* need this to constrain as its now a partent of frame_inner div */
  width: 40%;
  height: auto;
  background-color: rebeccapurple;
  margin: 0 auto;
  /* need this here as its paretn of frame_inner in order to verically center quote*/
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
	.frame {
		width: 45%;
		border-width: 30px;
	}
}

/* CLASSES IM USING COS THEY WORK 
frame_inner frame
*/


/* Toggle Switch for Snowoing Effect - TODO find where I got code from & credit */
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  /*margin: 0 auto;*/
  /*to align text vertically w label must wrap chekcbox in label tags! */
  display: inline-block;
  vertical-align: middle;
  bottom: 1px;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

/* green #4CD964 */
.toggle:checked {
  background-color: rebeccapurple;
}

.toggle:checked:before {
  left: 32px;
}

label {
	display: block;
}
