* {
	box-sizing: border-box;
}

/*colors yellow text f3f370 */
body {
	padding: 0;
	margin: 0;
	font-family: verdanna, 'Arial', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: black;
	background-size: contain;
	background-repeat: repeat;
	background-color: #9bbbf2;
	/* other blues, darker 7ca8f4 lighter 9bbbf2*/
}

label {
	display: inline-block;
	text-align: left;
	width: 120px;
	font-weight: 600;
}

.disclaimer {
	font-style: italic;
	font-size: 1rem;
}

.taskArea {
	margin: 0 20px;
}

.battlegrid {
	border: 2px dotted black;
}

.input_field{
	padding: 5px;
	font-size: 1.2rem;
}


/*colors yellow text f3f370 - change h1 text if snow option is on */
h1 {
	text-align: center;
	font-size: 2.8rem;
	line-height: 2.5rem;
	color: rebeccapurple;
	margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.2rem;
		margin: 10px 0;
	}
}
@media screen and (max-width: 450px) {
	h1 {
		font-size: 1.8rem;
		margin: 10px 0;
	}
}

h2 {
	text-align: center;
	/*font-weight: 600;*/
	font-size: 2.2rem;
	color: rebeccapurple;
}

p {
	text-align: center;
}

.button_main {
	padding: 20px 60px;
	margin: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: white;
	border-radius: 	20px;
	/*margin-top: 20px;*/
}

/*align center? */
.button_load_tasks {
	padding: 20px 40px;
	margin: 10px;
	font-size: 1.3rem;
	font-weight: 600;
	background-color: white;
	border-radius: 	20px;
	margin-bottom: 20px;
}

/*refactor this later*/
.button_add_tasks {
	padding: 10px 20px;
	margin: 10px;
	font-size: 1.3rem;
	font-weight: 600;
	background-color: white;
	border-radius: 	20px;
	margin-bottom: 20px;
}

.button_task {
	min-width: 200px;
	min-height: 100px;
	padding: 10px;
	/*margin: 5px;*/
	font-size: 1.4rem;
	font-weight: 600;
	background-color: lightyellow;
}
.button_task:hover {
	cursor: pointer;
}

/*.button_grid_task {
	min-width: 200px;
	min-height: 100px;
	padding: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: lightyellow;
}*/

.button_container {
	width: auto;
	margin: 10px;
	display: flex;
	position: relative;
	/*justify-content: center;*/
	/*border: 1px dashed red;*/
	text-align: center;
	padding: 10px;
	/*flex-basis: sp*/
	justify-content: space-evenly;
}

.button_container_tasks {
	text-align: center;
}

.button_container_snow {
	/*width: 300px;*/
	border: 2px solid black;
	padding: 20px;
	margin: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: white;
	border-radius: 	20px;
	color: black;
}

@media screen and (max-width: 500px) {
	button {
		padding: 10px;
		font-size: 1rem;
	}
	.button_container_snow {
		padding: 10px;
		font-size: 1rem;
	}
}
@media screen and (max-width: 400px) {
	button {
		padding: 5px 10px;
	}
	.button_container_snow {
		padding: 5px;
	}
}

/* yellow light f2f28c */

.quote {
	/*original size 3rem with line height 3.6 rem*/
	font-size: 2.6rem;
	line-height: 3.2rem;
	font-style: italic;
	/*margin: 0 20px 0 10px;*/
	/* need to shift text to left as its italic so appears closer to right edge of parent */
	margin: 0 6px 0 4px;
	/*overflowing atm, coudl try hidden optino or add MQ! */
}

/*when width is UNDER 550 ie max=under, and min=over */
@media screen and (max-width: 1000px) {
	.quote {
		font-size: 2.4rem;
		line-height: 3rem;
	}
}
@media screen and (max-width: 850px) {
	.quote {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}
@media screen and (max-width: 550px) {
	.quote {
		font-size: 1.4rem;
		line-height: 2rem;
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	.quote {
		font-size: 1.2rem;
	}
}

.font_courgette {
	font-family: 'Courgette';
	font-size: 3.5rem;
}

.font_merienda {
	font-family: 'Merienda One';
}

.font_oleo {
	font-family: 'Oleo Script';
	font-size: 3.5rem;
	letter-spacing: 
}

div {
	/*border: 1px dashed green;*/
}

/* need to center containner within body!*/
.container {
	width: auto;
	margin: 10px;
	display: flex;
	position: relative;
	justify-content: center;
	/*border: 1px dashed red;*/
	text-align: center;
	padding: 10px;
	/*height: 500px;*/
}
@media screen and (max-width: 700px) {
	.container {
		margin: 0;
		padding: 0;
	}
}

.main {
	text-align: center;
}

.form_container {
	display: flex;
  	justify-content: center;
	/*border: 2px solid purple;*/
	/*padding: 10px;*/
}

.frame_tasks {
	border: 2px solid purple;
	margin-bottom: 40px;
}

.frame_all_tasks {
	/* cant restrict text too much */
	/*width: 40%;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	flex-wrap: wrap;
	/*margin-bottom: 20px;*/
}

/* static grid of 5x3 */
.parent_grid_all_tasks_5{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border: 2px solid purple;
	margin: 10px 20px;
	/* need below so child task items dont overflow parent - but hidden means u cant see the task text! */
	overflow: auto;
	min-height: 320px;
}


.footer {
	text-align: center;
	font-size: 1rem;
	color: rebeccapurple;
	margin-top: 20px;
	margin-bottom: 10px;
}
@media screen and (max-width: 450px) {
	.footer {
		font-size: 0.8rem;
		margin-top: 10px;
	}
}

